html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
details,
main,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
input {
  line-height: normal;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
optgroup {
  font-weight: bold;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
.M0 {
  margin: 0;
}
.M4 {
  margin: 4px;
}
.M8 {
  margin: 8px;
}
.M16 {
  margin: 16px;
}
.M24 {
  margin: 24px;
}
.M32 {
  margin: 32px;
}
.M40 {
  margin: 40px;
}
.MH0 {
  margin-left: 0;
  margin-right: 0;
}
.MH4 {
  margin-left: 4px;
  margin-right: 4px;
}
.MH8 {
  margin-left: 8px;
  margin-right: 8px;
}
.MH16 {
  margin-left: 16px;
  margin-right: 16px;
}
.MH24 {
  margin-left: 24px;
  margin-right: 24px;
}
.MH32 {
  margin-left: 32px;
  margin-right: 32px;
}
.MH40 {
  margin-left: 40px;
  margin-right: 40px;
}
.MV0 {
  margin-top: 0;
  margin-bottom: 0;
}
.MV4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.MV8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.MV16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.MV24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.MV32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.MV40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.ML0 {
  margin-left: 0;
}
.ML4 {
  margin-left: 4px;
}
.ML8 {
  margin-left: 8px;
}
.ML16 {
  margin-left: 16px;
}
.ML24 {
  margin-left: 24px;
}
.ML32 {
  margin-left: 32px;
}
.ML40 {
  margin-left: 40px;
}
.MR0 {
  margin-right: 0;
}
.MR4 {
  margin-right: 4px;
}
.MR8 {
  margin-right: 8px;
}
.MR16 {
  margin-right: 16px;
}
.MR24 {
  margin-right: 24px;
}
.MR32 {
  margin-right: 32px;
}
.MR40 {
  margin-right: 40px;
}
.MT0 {
  margin-top: 0;
}
.MT4 {
  margin-top: 4px;
}
.MT8 {
  margin-top: 8px;
}
.MT16 {
  margin-top: 16px;
}
.MT24 {
  margin-top: 24px;
}
.MT32 {
  margin-top: 32px;
}
.MT40 {
  margin-top: 40px;
}
.MB0 {
  margin-bottom: 0;
}
.MB4 {
  margin-bottom: 4px;
}
.MB8 {
  margin-bottom: 8px;
}
.MB16 {
  margin-bottom: 16px;
}
.MB24 {
  margin-bottom: 24px;
}
.MB32 {
  margin-bottom: 32px;
}
.MB40 {
  margin-bottom: 40px;
}
.P0 {
  padding: 0;
}
.P4 {
  padding: 4px;
}
.P8 {
  padding: 8px;
}
.P16 {
  padding: 16px;
}
.P24 {
  padding: 24px;
}
.P32 {
  padding: 32px;
}
.P40 {
  padding: 40px;
}
.PH0 {
  padding-left: 0;
  padding-right: 0;
}
.PH4 {
  padding-left: 4px;
  padding-right: 4px;
}
.PH8 {
  padding-left: 8px;
  padding-right: 8px;
}
.PH16 {
  padding-left: 16px;
  padding-right: 16px;
}
.PH24 {
  padding-left: 24px;
  padding-right: 24px;
}
.PH32 {
  padding-left: 32px;
  padding-right: 32px;
}
.PH40 {
  padding-left: 40px;
  padding-right: 40px;
}
.PV0 {
  padding-top: 0;
  padding-bottom: 0;
}
.PV4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.PV8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.PV16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.PV24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.PV32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.PV40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.PL0 {
  padding-left: 0;
}
.PL4 {
  padding-left: 4px;
}
.PL8 {
  padding-left: 8px;
}
.PL16 {
  padding-left: 16px;
}
.PL24 {
  padding-left: 24px;
}
.PL32 {
  padding-left: 32px;
}
.PL40 {
  padding-left: 40px;
}
.PR0 {
  padding-right: 0;
}
.PR4 {
  padding-right: 4px;
}
.PR8 {
  padding-right: 8px;
}
.PR16 {
  padding-right: 16px;
}
.PR24 {
  padding-right: 24px;
}
.PR32 {
  padding-right: 32px;
}
.PR40 {
  padding-right: 40px;
}
.PT0 {
  padding-top: 0;
}
.PT4 {
  padding-top: 4px;
}
.PT8 {
  padding-top: 8px;
}
.PT16 {
  padding-top: 16px;
}
.PT24 {
  padding-top: 24px;
}
.PT32 {
  padding-top: 32px;
}
.PT40 {
  padding-top: 40px;
}
.PB0 {
  padding-bottom: 0;
}
.PB4 {
  padding-bottom: 4px;
}
.PB8 {
  padding-bottom: 8px;
}
.PB16 {
  padding-bottom: 16px;
}
.PB24 {
  padding-bottom: 24px;
}
.PB32 {
  padding-bottom: 32px;
}
.PB40 {
  padding-bottom: 40px;
}
body {
  color: #333;
  background-color: #222;
}
main {
  background-color: #fff;
}
.TextLight {
  font-weight: 300;
}
.TextCenter {
  text-align: center;
}
.Container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}
a {
  cursor: pointer;
  color: #ed4343;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.Posts .PostItem {
  width: 320px;
  margin: auto;
  padding-bottom: 24px;
  border-bottom: 1px solid #eee;
}
.Posts .PostItem .PostItemImage {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
  display: block;
}
.Posts .PostItem .PostItemImage img {
  max-width: 100%;
  height: auto;
}
.Posts .PostItem .PostItemInfo {
  font-size: 0.8em;
  color: #aeaeae;
  margin: 16px 0 0;
}
.Posts .PostItem .PostItemTitle {
  color: #ed4343;
  text-decoration: none;
}
.Posts .PostItem .PostItemTitle h1,
.Posts .PostItem .PostItemTitle h2,
.Posts .PostItem .PostItemTitle h3 {
  margin: 8px 0 0;
  padding: 0;
  line-height: 1.2em;
  font-size: 1.4em;
}
.Posts .PostItem .PostItemContent {
  font-size: 1em;
  color: #888;
}
.Posts .PostItem .PostItemContent p {
  margin: 8px 0;
}
.Posts .PostItem .PostItemDate {
  font-size: 0.8em;
  color: #aeaeae;
}
