.M0
	margin 0
.M4
	margin 4px
.M8
	margin 8px
.M16
	margin 16px
.M24
	margin 24px
.M32
	margin 32px
.M40
	margin 40px

.MH0
	margin-left 0
	margin-right 0
.MH4
	margin-left 4px
	margin-right 4px
.MH8
	margin-left 8px
	margin-right 8px
.MH16
	margin-left 16px
	margin-right 16px
.MH24
	margin-left 24px
	margin-right 24px
.MH32
	margin-left 32px
	margin-right 32px
.MH40
	margin-left 40px
	margin-right 40px
	
.MV0
	margin-top 0
	margin-bottom 0
.MV4
	margin-top 4px
	margin-bottom 4px
.MV8
	margin-top 8px
	margin-bottom 8px
.MV16
	margin-top 16px
	margin-bottom 16px
.MV24
	margin-top 24px
	margin-bottom 24px
.MV32
	margin-top 32px
	margin-bottom 32px
.MV40
	margin-top 40px
	margin-bottom 40px
	
.ML0
	margin-left 0
.ML4
	margin-left 4px
.ML8
	margin-left 8px
.ML16
	margin-left 16px
.ML24
	margin-left 24px
.ML32
	margin-left 32px
.ML40
	margin-left 40px
	
.MR0
	margin-right 0
.MR4
	margin-right 4px
.MR8
	margin-right 8px
.MR16
	margin-right 16px
.MR24
	margin-right 24px
.MR32
	margin-right 32px
.MR40
	margin-right 40px
	
.MT0
	margin-top 0
.MT4
	margin-top 4px
.MT8
	margin-top 8px
.MT16
	margin-top 16px
.MT24
	margin-top 24px
.MT32
	margin-top 32px
.MT40
	margin-top 40px
	
.MB0
	margin-bottom 0
.MB4
	margin-bottom 4px
.MB8
	margin-bottom 8px
.MB16
	margin-bottom 16px
.MB24
	margin-bottom 24px
.MB32
	margin-bottom 32px
.MB40
	margin-bottom 40px
